<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MyChievs</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/myfamily']"
          >My Family <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/create']">Create Achievement</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/myprofile']"
          >My Profile <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <form *ngIf="user">
    <div class="form-group">
      <label>
        First Name:
        <input
          class="form-control"
          type="text"
          name="first_name"
          [(ngModel)]="user.first_name"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Last Name:
        <input
          class="form-control"
          type="text"
          name="last_name"
          [(ngModel)]="user.last_name"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Email:
        <input
          class="form-control"
          type="text"
          name="email"
          [(ngModel)]="user.email"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Date of Birth:
        <input class="form-control" type="date" name="dob" [(ngModel)]="user.dob" />
      </label>
    </div>
    <button class="btn btn-primary" (click)="editUser()">Edit</button>
  </form>
</div>
