<div class="container">
  <h1 class="text-center my-4">Achievement Calendar</h1>

  <div class="card text-center mb-5">
    <div class="card-header">
      January
    </div>
    <div *ngFor="let user of users" class="card-group">
      <div *ngFor="let achievement of user.achievements" class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="card-link text-start" href=""
              >{{ user.first_name }} {{ user.last_name }}</a
            >
          </li>
        </ul>
        <img [src]="achievement.image_url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ achievement.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ achievement.category }}</li>
          <li class="list-group-item">{{ achievement.createdAt }}</li>
        </ul>
        <div class="card-body text-center">
          <a href="#" class="card-link">Details</a>
          <a href="#" class="card-link">Comment</a>
          <a href="#" class="card-link">Like</a>
        </div>

        <div class="card-footer">
          <small class="text-muted">4 people liked this</small>
        </div>
      </div>
    </div>
  </div>
</div>
