<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MyChievs</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/myfamily']"
          >My Family <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/create']">Create Achievement</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/myprofile']"
          >My Profile <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1 class="text-center my-4">Achievement Calendar</h1>

  <div class="card text-center mb-5">
    <div class="card-header">
      January
    </div>
    <div *ngFor="let user of users; let j = index" class="card-group">
      <div *ngFor="let achievement of user.achievements; let i = index" class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="card-link text-start" href=""
              >{{ user.first_name }} {{ user.last_name }}</a
            >
          </li>
        </ul>
        <img
          [src]="achievement.image_url"
          class="card-img-top"
          style="height: 140px;"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ achievement.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ achievement.category }}</li>
          <li class="list-group-item">{{ achievement.description }}</li>
          <li class="list-group-item">{{ achievement.createdAt | timeago }}</li>
        </ul>
        <div class="card-body text-center">
          <button class="btn btn-link">
            Like
          </button>
          <button class="btn btn-link">
            Comment
          </button>
          <button
            class="btn btn-link"
            (click)="deleteAchievement(achievement._id, j, i)"
          >
            Delete
          </button>
        </div>

        <div class="card-footer">
          <small class="text-muted">4 people liked this</small>
        </div>
      </div>
    </div>
  </div>
</div>
